.additional-product {
  margin-bottom: 12px;
  padding: 1px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 35px;
    border: 1px solid @main-bgr;
    margin-bottom: 0;
    padding-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-bottom: 11px;
    max-width: 895px;
    padding-right: 0;
    border-left: none;
    border-right: none;
  }
}

.additional-product__title {
  font-family: @main-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}

.additional-product__table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: @sub-font;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    width: 235px;
    align-self: flex-start;
    margin-top: 29px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 10px;
    width: 285px;
    margin-right: 40px;
  }
}

.additional-product__cell:nth-child(2) {
  text-align: right;

  @media (min-width: @tablet-width) {
    width: 50px;
  }
}

.additional-product__cell:nth-child(1) {
  @media (min-width: @tablet-width) {
    text-align: right;
    padding-right: 47px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.additional-product__button {
  margin-top: 13px;

  @media (min-width: @tablet-width) {
    margin-top: 15px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin-top: 15px;
    width: 245px;
  }
}
