.adds {
  position: relative;

  &::before {
    .green-string;
    top: 10px;

    @media (min-width: @tablet-width) {
      top: 25px;
    }
  }
}

.adds__header {
  font-family: @main-font;
  line-height: 24px;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  width: 165px;
  padding-right: 17px;
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  z-index: 10;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    line-height: 40px;
    font-size: 36px;
    padding-left: 40px;
    width: 300px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    width: 260px;
  }
}

.adds__item {
  display: block;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    margin-right: 120px;
    min-width: 195px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.adds__title {
  padding-left: 45px;
  display: block;
  height: 35px;
  padding-top: 8px;
  position: relative;

  &::before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid @main-bgr;
  }
}

.adds__input:checked ~ .adds__title::after {
  content: "";
  top: 10px;
  left: 5px;
  position: absolute;
  width: 25px;
  height: 15px;
  background-image: url("/img/icon-tick.svg");
  background-repeat: no-repeat;
}

.adds__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 40px;
  }
}
