.button {
  text-decoration: none;
  display: block;
  background-color: @green-button;
  font-size: 13.5px;
  font-family: @main-font;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  padding: 11px 2px 14px 2px;
  @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 22px;
  }
}
