.button {
  text-decoration: none;
  display: block;
  background-color: @green-button;
  font-size: 13.5px;
  font-family: @main-font;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  padding: 11px 2px 14px 2px;
  width: 230px;
  min-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 245px;
    min-height: 50px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
}
