.common-info__text {
  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 15px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 28px;
    width: 350px;
  }
}

.common-info__pet-data {
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }
}

.common-info__program-switch {
  margin-top: 50px;

  @media (min-width: @tablet-width) {
    margin-top: 110px;
  }
}
