.container {
  width: @mobile-width-content;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width-content;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width-content;
    position: relative;

    &--main::after {
      content: "";
      position: absolute;
      top: -50px;
      right: 0;
      background-image: url("../img/index-background-desktop@1x.jpg");
      width: 720px;
      height: 700px;
      z-index: -1;
    }
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.container--catalog {
  &::after {
    background-image: none;
  }
}
