.developer {
  display: flex;
  justify-content: space-between;
}
.developer__link {
  font-family: @sub-font;
  font-size: 16px;
  line-height: 16px;
  color: @main-font-color;
  text-decoration: none;
}
.developer__dev-logo {
  width: 27px;
  height: 34px;
}
