.developer {
  display: flex;
  justify-content: space-between;
}
.developer__link {
  font-family: @sub-font;
  font-size: 16px;
  line-height: 16px;
  color: @main-font-color;
  text-decoration: none;
  @media (min-width: @tablet-width) {
    align-self: center;
  }
}
.developer__dev-logo {
  width: 27px;
  height: 34px;
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 40px;
  }
}
