.map-wrapper {
  margin: 0 auto;
  background-repeat: no-repeat;
  height: 362px;
  background-image: url("/img/bg-map-mobile@1x.png");
  position: relative;
  max-width: @mobile-width-content;

  @media (min-width: @tablet-width) {
    height: 400px;
    background-image: url("/img/bg-map-tablet@1x.png");
    max-width: @tablet-width-content;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/bg-map-desktop@1x.png");
    max-width: @desktop-width-content;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    background-image: url("/img/map-pin.png");
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      left: calc(73% - 60px);
    }
  }
}
