.menu-show {
  transform-origin: 50% 0%;
  animation-name: show-menu;
  animation-duration: 2s;
  display: block;
}

.menu-close {
  animation-name: close-menu;
  animation-duration: 2s;
  display: none;
}
