.page-catalog {
  @media (min-width: @desktop-width) {
    padding-top: 45px;
  }
}

.page-catalog__title {
  color: @prg-dscr-color;
  font-size: 36px;
  line-height: 40px;
  font-family: @main-font;
  font-weight: normal;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin: 0;
  }
}
