.page-footer {
  background-color: @main-bgr;
  padding: 2px 20px 2px 20px;
}
.page-footer__link {
  display: block;
  width: 128px;
  margin: 40px auto 30px auto;
}
.social-networks {

}
.social-networks__list {
  list-style: none;
  padding: 2px;
  display: flex;
  justify-content: space-around;
}
.social-networks__link {
  display: inline-block;
  width: 16px;
  height: 16px;
  &--vk {
    background-image: url("../img/icon-vk-mobile.svg");
    background-repeat: no-repeat;
    }
  &--insta {
    background-image: url("../img/icon-insta-mobile.svg");
    background-repeat: no-repeat;
  }
  &--facebook {
    background-image: url("../img/icon-fb-mobile.svg");
    background-repeat: no-repeat;
  }
}
.developer__link {
  font-family: @sub-font;
  font-size: 16px;
  line-height: 16px;
  color: @main-font-color;
  text-decoration: none;
}
.developer__dev-logo {
  width: 27px;
  height: 34px;
}
