.page-header {
  display: flex;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
      margin-bottom: 50px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 50px;
    margin-bottom: 30px;
  }
}
.page-header__link {
  display: inline-block;
}
.page-header__main-logo {

}
