.partnership {
  padding-top: 29px;
  min-height: 110px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
    top: 92px;
    width: 570px;
    height: 200px;
    z-index: 35;
    background-color: #ffffff;
    padding-left: 40px;
    padding-top: 65px;
    padding-bottom: 0;
    margin: 0;
  }
}

.partnership__dealers {
  font-family: @main-font;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 138px;
  margin: 0;

  @media (min-width: @tablet-width) {
    line-height: 25px;
    font-size: 20px;
    margin-left: 40px;
    width: 165px;
  }
}

.partnership__adress {
  font-family: @sub-font;
  display: inline-block;
  width: 138px;
  margin: 0;

  @media (min-width: @tablet-width) {
    line-height: 20px;
    font-size: 16px;
    margin-left: 280px;
    margin-right: 20px;
    width: 180px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin-left: 75px;
    text-align: left;
  }
}

.partnership__word {
  display: block;
}

.partnership__block {
  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 19px;
  }
}
