.partnership {
  padding-top: 29px;
  min-height: 110px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 70px;
    padding-bottom: 60px;
  }
}

.partnership__dealers {
  font-family: @main-font;
  text-transform: uppercase;
  display: inline-block;
  width: 138px;
  margin: 0;

  @media (min-width: @tablet-width) {
    line-height: 25px;
    font-size: 20px;
    margin-left: 40px;
    width: 165px;
  }
}

.partnership__adress {
  font-family: @sub-font;
  display: inline-block;
  width: 138px;
  margin: 0;

  @media (min-width: @tablet-width) {
    line-height: 20px;
    font-size: 16px;
    margin-left: 300px;
    width: 180px;
    text-align: right;
  }
}
