.partnership {
  padding-top: 29px;
  min-height: 110px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 70px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 170px;
    top: 2280px;
    width: 570px;
    height: 200px;
    z-index: 2;
    background-color: #ffffff;
    padding-left: 40px;
    padding-top: 70px;
  }
}

.partnership__dealers {
  font-family: @main-font;
  text-transform: uppercase;
  display: inline-block;
  width: 138px;
  margin: 0;

  @media (min-width: @tablet-width) {
    line-height: 25px;
    font-size: 20px;
    margin-left: 40px;
    width: 165px;
  }

  @media (min-width: @desktop-width) {
    width: 150px;
  }
}

.partnership__adress {
  font-family: @sub-font;
  display: inline-block;
  width: 138px;
  margin: 0;

  @media (min-width: @tablet-width) {
    line-height: 20px;
    font-size: 16px;
    margin-left: 300px;
    width: 180px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin-left: 90px;
    text-align: left;
  }
}
