.pet-data {
  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.pet-data__item {
  display: flex;
  min-height: 45px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.pet-data__input {
  flex-grow: 1;
  min-width: 20px;
}

.pet-data__title {
  align-self: center;
  margin-right: 15px;
}

.pet-data__title--big {
  min-width: 95px;
}
