.present {
  margin-top: 68px;
  margin-bottom: 35px;
}

.present__wrapper {
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  width: 280px;
  height: 289px;
  padding: 1px;
}

.present__text {
  font-family: @sub-font;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  display: block;
  width: 160px;
  margin: 185px auto 0 auto;
}
