.products {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
  }
}

.products__wrapper {
  @media (min-width: @tablet-width) {
    margin-right: -55px;
  }

  @media (min-width: @desktop-width) {
    margin-right: -75px;
  }
}

.products__product-card {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-right: 55px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 75px;
  }
}

.products__all-products {
  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
    min-height: 435px;
    width: 324px;
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid @main-bgr;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding-top: 180px;
  }
}

.products__more-products {
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 85px;
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 165px 92px 1px 92px;
  }

  @media (min-width: @desktop-width) {
    padding: 1px 55px;
  }
}

.products__more-tastes {
  font-family: @sub-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    font-family: @sub-font;
    padding: 1px 75px;
    text-align: center;
    margin-bottom: 80px;
  }
}

.products__button {
  display: block;
  margin: 0 auto;
}
