.programs {
  @media (min-width: @tablet-width) {
      padding: 0px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
  }
}
.programs__program-description {
  margin-bottom: 20px;
  @media (min-width: @desktop-width) {
    margin-right: 80px;
  }
}
