.short-description {
  min-height: 440px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    background-image: none;
    color: @main-font-color;
    position: relative;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-bottom: 150px;
  }
}

.short-description .container {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: none;
    position: relative;
  }
}

.short-description__title {
  margin: 0;
  font-family: @main-font;
  color: #ffffff;
  font-size: @title-font-size;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    color: inherit;
    font-size: 60px;
    line-height: 60px;
    width: 427px;
    margin: 0;
    padding-top: 10px;
    margin-bottom: 38px;
    text-align: left;
  }
}

.short-description__item {
  font-family: @main-font;
  font-size: 13.5px;
  line-height: 13.5px;
  color: #ffffff;
  text-align: center;
  margin-top: 19px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    color: inherit;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.short-description__img {
  width: 280px;
  height: 270px;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    width: 710px;
    height: 610px;
    margin-top: -10px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 550px;
    height: 500px;
    margin-top: 0;
    margin-left: -70px;
  }
}

.short-description__button {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 237px;
    left: 90px;
  }

  @media (min-width: @desktop-width) {
    top: 315px;
    left: 80px;
  }
}

.short-description__text-wrapper {
  padding: 1px;

  @media (min-width: @tablet-width) {
    padding-left: 85px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
    display: inline-block;
    vertical-align: top;
  }
}
