.short-description {
  min-height: 440px;
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 29px;
  @media (min-width: @tablet-width) {
      padding-left: 90px;
      padding-right: 30px;
      background-image: none;
      color: @main-font-color;
      position: relative;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    margin-bottom: 150px;
  }
}
.short-description__title {
  margin: 0;
  font-family: @main-font;
  color: #ffffff;
  font-size: @title-font-size;
  line-height: 36px;
  font-weight: normal;
  @media (min-width: @tablet-width) {
      color: inherit;
      font-size: 60px;
      line-height: 60px;
      width: 427px;
      margin-bottom: 30px;
  }
}
.short-description__item {
  font-family:  @main-font;
  font-size: 13.5px;
  line-height: 13.5px;
  color: #ffffff;
  text-align: center;
  margin-top: 19px;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
      color: inherit;
      font-size: 30px;
      line-height: 32px;
      text-align: left;
      margin-bottom: 30px;
  }
  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 26px;
  }
}
.short-description__img {
  width: 280px;
  height: 270px;
  margin-top: 29px;
  @media (min-width: @tablet-width) {
      width: 710px;
      height: 610px;
  }
  @media (min-width: @desktop-width) {
      width: 550px;
      height: 500px;
      margin-top: 0px;
  }
}
.short-description__button {
  margin: 5px auto;
  width: 230px;
  min-height: 40px;
  @media (min-width: @tablet-width) {
      position: absolute;
      top: 230px;
      left: 90px;
      width: 250px;
      min-height: 50px;
  }
  @media (min-width: @desktop-width) {
      top: 300px;
  }
}
.short-description__text-wrapper {
  @media (min-width: @desktop-width) {
    margin-top: 70px;
  }
}
