

.slider__picture-after {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    width: 325px;
    overflow: hidden;
    height: 517px;
    margin-left: -5px;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
  }
}

.slider__picture-before {
  @media (min-width: @tablet-width) {
    display: inline-block;
    width: 345px;
    overflow: hidden;
    height: 517px;
    margin-left: 10px;
    margin-bottom: 15px;

    @media (min-width: @desktop-width) {
      margin-bottom: 35px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 365px;
  }
}

.slider__input:nth-child(1):checked ~ .slider__picture-before {
  display: block;
  animation-name: opacity-up;
  animation-duration: 2s;

  @media (min-width: @tablet-width) {
    width: 690px;
  }
}

.slider__input:nth-child(1):checked ~ .slider__picture-after {
  display: none;
}

.slider__input:nth-child(2):checked ~ .slider__picture-after {
  display: block;
  animation-name: opacity-up;
  animation-duration: 2s;

  @media (min-width: @tablet-width) {
    width: 690px;
  }
}

.slider__input:nth-child(2):checked ~ .slider__picture-after .slider__img--after {
  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.slider__input:nth-child(1):checked ~ .slider__control::after {
  animation-name: before-scale;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  @media (min-width: @tablet-width) {
    animation-name: none;
    transform: none;
  }
}

.slider__input:nth-child(2):checked ~ .slider__control::after {
  animation-name: after-scale;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  @media (min-width: @tablet-width) {
    animation-name: none;
    transform: none;
  }
}

.slider__input:nth-child(2):checked ~ .slider__picture-before {
  display: none;
  animation-name: opacity-down;
  animation-duration: 2s;
}

.slider__img {
  width: 311px;
  height: 233px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 690px;
    height: 517px;
    margin-bottom: 0;
  }

  &--after {
    @media (min-width: @tablet-width) {
      margin-left: -345px;
    }

    @media (min-width: @desktop-width) {
      margin-left: -365px;
    }
  }
}

.slider label {
  display: inline-block;
  font-family: @main-font;
  line-height: 20px;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    line-height: 24px;
    font-size: 20px;
  }
}

.slider__label-after {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    border-bottom: 1px dotted #111111;
  }

  &:hover::before {
    border-bottom: 1px solid #111111;
  }

  &:focus::before {
    border-bottom: 1px solid #111111;
  }

  &:active::before {
    border: none;
  }
}

.slider__label-before {
  position: relative;
  margin-left: 60px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    border-bottom: 1px dotted #111111;
  }

  &:hover::after {
    border-bottom: 1px solid #111111;
  }

  &:focus::after {
    border-bottom: 1px solid #111111;
  }

  &:active::after {
    border: none;
  }

  @media (min-width: @tablet-width) {
    margin-left: 70px;

    &::before {
      top: 10px;
      left: 280px;
      z-index: 10;
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: @green-button;
      border-radius: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 100px;
  }
}

.slider__control {
  display: inline-block;
  position: relative;
  width: 115px;
  height: 20px;

  @media (min-width: @tablet-width) {
    width: 462px;
  }

  @media (min-width: @desktop-width) {
    width: 465px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 85px;
    height: 15px;
    border: 1px solid @main-bgr;
    border-radius: 30px;
    top: 3px;
    left: 10px;
    background-color: #ffffff;

    @media (min-width: @tablet-width) {
      width: 428px;
      height: 6px;
      border-radius: 2.5px;
      background-color: #dcdcdc;
      top: 10px;
      left: 17px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    top: 8px;
    left: 19px;
    background-color: @green-button;
    border-radius: 30px;
    transform-origin: 0% 50%;

    @media (min-width: @tablet-width) {
      top: -3px;
      left: 217px;
      width: 34px;
      height: 34px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      border: solid 1px #cdcdcd;
      background-color: #ffffff;
    }
  }

  &:hover {
    @media (min-width: @tablet-width) {
      &::after {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }

  &:active {
    @media (min-width: @tablet-width) {
      &::after {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
        border: solid 2px #68b738;
        background-color: #ffffff;
      }
    }
  }
}

.slider {
  @media (min-width: @desktop-width) {
    width: 710px;
  }
}
