.social-networks {

}
.social-networks__list {
  list-style: none;
  padding: 2px;
  display: flex;
  justify-content: space-around;
}
.social-networks__link {
  display: inline-block;
  width: 16px;
  height: 16px;
  &--vk {
    background-image: url("../img/icon-vk-mobile.svg");
    background-repeat: no-repeat;
    }
  &--insta {
    background-image: url("../img/icon-insta-mobile.svg");
    background-repeat: no-repeat;
  }
  &--facebook {
    background-image: url("../img/icon-fb-mobile.svg");
    background-repeat: no-repeat;
  }
}
