*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  color: @main-font-color;
  size: @main-font-size;
  line-height: @main-line-height;
  max-width: @mobile-width;
  margin: 0 auto;
}
