@main-font: Oswald, Arial, sans-serif;
@sub-font: Arial, sans-serif;
@font-bold: regular, medium;
@main-font-color: #444444;
@main-font-size: 14px;
@main-line-height: 18px;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
@title-font-size: 36px;
@green-button: #68b738;
@prg-dscr-color: #111111;
@main-bgr: #f2f2f2;
